/* COOMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
  box-sizing: border-box;
  background-color: white;
}
img {
  display: block;
}
a {
  font-family: 'Nanum Gothic', sans-serif;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  box-sizing: border-box;
  vertical-align: middle;
}
input, button {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
  line-height: 1.4;
  border: 0 solid black;
}
button {
  cursor: pointer;
}
input:focus {
  outline:none;
}
div {
  box-sizing: border-box;
}
span {
}
.inner {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.material-icons {
  vertical-align: bottom;
}



/* HEADER */
header {
  background-color: #fff;
  box-shadow: 2px 3px 10px rgb(3 48 117 / 30%)
}
header > .login-menu {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(48,48,170,1) 100%);
  height: 33px;
}
header > .login-menu ul.menu {
  display: flex;
  position: absolute;
  right: 0;
  padding-right: 150px;
}
header > .login-menu ul.menu > li {
  margin-right: 30px;
  line-height: 30px;
  color: #fff;
}
header > .inner {
  height: 80px;
  display: flex;
}

header a {
  font-weight: bold;
}

header .main-menu a:hover {
  color: #0379D5;
}
.header__logo {
  margin: auto 0;
}
.header__logo a {
  
}
.header__logo a img {
  
}
.main-menu {
  position: relative;
  z-index: 12;
  width: 100%;
}
.main-menu > ul {
  height: 100%;
  display: flex;
  align-items: center;
}
.main-menu > ul > li {

}
.main-menu > ul li {
  width: 225px;
}
.main-menu > ul > li > a {
  margin-left: 60px;
  font-size: 21px;
}
.main-menu > ul > li > a:hover {
  border-bottom: 4px solid #0379D5;
}
.main-menu > ul > li .main-menu__sub {
  display: none;
  position: absolute;
  padding-top: 40px;
  width: 25%;
}
.main-menu > ul > li .main-menu__sub ul {
  text-align: justify;
}
.main-menu > ul > li .main-menu__sub ul li {
  margin: 10px 0;
  padding-left: 60px;
  box-sizing: border-box;
}
.main-menu > ul > li .main-menu__sub ul li a {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
}
.main-menu-bg {
  display: none;
  position: absolute;
  width: 100vmax;
  height: 150px;
  z-index: 11;
  background: #fff;
  left: 50%;  
  transform: translate(-50%, 0%);
  top: 101%;
}



/* CONTENT */
.content {
  height: 300px;
  background-image: url(../images/incheon_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.content .inner {
  display: flex;
  padding-top: 60px;
}

.content .search_area {
  width: 500px;
}
.content .search_area .cont_top p:nth-child(1) {
  font-size: 60px;
  font-weight: bold;
  font-family: 'Nanum Pen Script', cursive;
  color: #fff;
  text-shadow: 2px 2px 10px gray;
}
.content .search_area .cont_top p:nth-child(2) {
  position: relative;
  padding-left: 120px;
  color: #fff;
  font-weight: bold;
}
.content .search_area .cont_top p:nth-child(2)::before {
  content: '';
  position: absolute;
  display: block;
  width: 110px;
  height: 1px;
  top: 50%;
  left: 0;
  background-color: #fff;
}
.content .search_area form {
  position: relative;
  margin-top: 25px;
}
.content .search_area input[name=search1] {
  position: absolute;
  width: 100%;
  height: 42px;
  padding-left: 30px;
  border-radius: 23px;
}
.content .search_area button {
  height: 42px;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  border-radius: 23px;
  padding: 0 33px;
  background-color: #0080E3;
  color: #fff;
}

.content .quick_reserv {
  position: relative;
}
.content .quick_reserv a {
  position: absolute;
  display: block;
  width: 250px;
  height: 120px;
  background-color: #fff;
  left: 75px;
  bottom: -42px;
  border-radius: 10px 60px 10px 10px;
  padding: 30px;
  background-color: #3f3ecf;
}
.content .quick_reserv a p {
  font-size: 20px;
  color: #ffe04d;
  position: absolute;
}
.content .quick_reserv a span {
  position: absolute;
  bottom: 30px;
  color: #fff;
}
.content .quick_reserv a .material-icons {
  left: 90px;
}


/* MAIN_GUIDE */
.main_guide {
  padding-top: 60px;
  margin-bottom: 60px;
}
.main_guide h4 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}
.main_guide h3 {
  font-size: 19px;
  font-weight: bold;
}
.main_guide h4 > span {
  color: #0379D5;
}
.main_guide h5 {
  font-size: 18px;
  font-weight: bold;
}
.main_guide .main_guide__wrap {
  display: flex;
}
.main_guide .main_guide__wrap .box {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}
.main_guide .main_guide__wrap .box:not(:last-child) {
  margin-right: 30px;
}
.main_guide .main_guide__wrap .notice {
  background-color: #fff;
}
.main_guide .main_guide__wrap .notice h5 {
  padding: 10px 25px;
  border-bottom: 1px solid #ddd;
}
.main_guide .main_guide__wrap .notice ul {
  padding: 19px 25px;
}
.main_guide .main_guide__wrap .notice ul li {
  position: relative;
}
.main_guide .main_guide__wrap .notice ul li:not(:last-child) {
  margin-bottom: 10px;
}
.main_guide .main_guide__wrap .notice ul li > a {
  width: 150px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main_guide .main_guide__wrap .notice ul li .date {
  position: absolute;
  right: 0;
  color: #999;
  font-weight: bold;
}
.main_guide .main_guide__wrap .reservation {
  background-color: #ffc42f;
}
.main_guide .main_guide__wrap .reservation a {
  display: block;
  height: 100%;
  padding: 50px;
}
.main_guide .main_guide__wrap .reservation a h3 {
  padding-bottom: 20px;
}
.main_guide .main_guide__wrap .reservation a .material-icons {
  vertical-align: bottom;
}
.main_guide .main_guide__wrap .guidance {
  background-color: #f36e2d;
}
.main_guide .main_guide__wrap .guidance a {
  display: block;
  height: 100%;
  padding: 50px;
}
.main_guide .main_guide__wrap .guidance a h3 {
  padding-bottom: 20px;
}

.main_guide .promotion {
	width: 600px;
  margin-top: 30px;
  position: relative;
  background-color: #fff;
}
.main_guide .promotion .swiper-container {
	height: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
  overflow: hidden;
}
.main_guide .promotion .swiper-slide {
	text-align: center;
	display: flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
	align-items: center; /* 위아래 기준 중앙정렬 */
	justify-content: center; /* 좌우 기준 중앙정렬 */
}
.main_guide .promotion .swiper-slide img {
	box-shadow: 0 0 5px #555;
}
.main_guide .promotion .swiper-button-next2,
.main_guide .promotion .swiper-button-prev2 {
  z-index: 10;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgb(0 0 0 / 50%);
  font-size: 20px;
  color: #fff;
  top: calc( 50% - 30px );
  text-align: center;
  cursor: pointer;
  
}
.main_guide .promotion .swiper-button-next2 span,
.main_guide .promotion .swiper-button-prev2 span {
  line-height: 40px;
  text-align: center;
}
.main_guide .promotion .swiper-button-next2 {
  right: 5px;
}
.main_guide .promotion .swiper-button-prev2 {
  left: 5px;
}


/* FOOTER */
footer {
  padding-bottom: 40px;
}
footer nav {
  background-color: #222;
  height: 50px;
  margin-bottom: 30px;
}
footer .menu {
  display: flex;
  margin-bottom: 50px;
}
footer .menu li {
  position: relative;
}
footer .menu li a {
  display: block;
  line-height: 50px;
  height: 100%;
  color: #fff;
  padding-right: 30px;
}
footer .menu li:not(:first-child) a::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 14px;
  background-color: #fff;
  top: 18px;
  left: -15px;
}
footer .info {

}